dist
data
node_modules
.idea
output
coverage
sandbox
.env
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!src/tests/fixtures/output
.history/
# Built Visual Studio Code Extensions
*.vsix